<h1>Chat Online: Socket.io</h1>
<div>
  <input type="text" id="usernameInput" placeholder="Username">
  <br>
  <input type="text" id="messageInput" placeholder="Write your message">
  <button id="sendButton">Send</button>
</div>


<div id="messageLogs" class="chat-box"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>