<html>
<head>
    <title>Payment Success</title>
</head>
<body>
    <h1>Payment Successful</h1>
    <p>Your payment has been successfully processed.</p>
    <p>What would you like to do next?</p>
    <ul>
        <li><a href="/current">Go to your profile</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</body>
</html>
