<div>
    <h1>Reset Your Password</h1>

    <form id="resetForm" action="/sendEmailNewPass" method="POST">
        <label>Email</label>
        <input type="email" id="email" name="email" required>

        <input type="submit" value="Reset Password">
    </form>

    <p>If you remember your password, <a href="/login">Login</a> here.</p>
</div>