<div>
        <h1>The password reset link has expired</h1>
        <p>Please request a new link to reset your password.</p>
        <a href="/resetPass">
            <button>Reset Password</button>
        </a>
    </div>